header {
    background:#ffffff;
    width: 960px;
    margin: 0 auto;
    padding: 0;
    margin-top: 100px;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    display: inline;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 30px;
}

.namebox {
    background-color: #4aaaa5;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    width: 250px;
    text-align: center;
    position: relative;
    left: 0px;
    bottom: 20px;
    margin: 0;
    height: auto;
    border: #cccccc;
    border-bottom: 100px;
    margin-left: -40px;
}

.name-box-links {
    text-decoration: none;
    color: #ffffff;
}

.namebox:hover {
    background-color: #38807C;
}

.menulinks {
    text-decoration: none;
    color: #777777;
    padding: 2px;
}

.menulinks:hover {
    background-color: #38807C;
    color: #ffffff;
}

.links {
    position: relative;
    right: 0px;
    width: 200px;
    float: right;
    height: auto;
    margin: 0 auto;
    bottom: 20px;
}

.topborder {
    background-color: #cccccc;
    height: 3px;
}

.main-section {
    background-image: url("../images/homework1background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}

.content {
    background-color: #ffffff;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    padding: 40px;
    clear: both;
    border-color: #dddddd;
    border-width: 2px;
    border-style: solid;
    padding-top: 20px;
    margin-bottom: 80px;
}

footer {
    padding: 20px;
    background: #666666;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #dddddd;
    border-top: 8px solid #4aaaa5;
}